@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  width: fit-content;
}
