@keyframes editIn {
    0% {
      transform: translateY(735px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes editOut {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(735px);
    }
  }
  
  .animate-slide-edit-in {
    animation: editIn 1s ease-in-out; /* Adjust the duration and easing function as needed */
  }
  
  .animate-slide-edit-out {
    animation: editOut 1s ease-in-out; /* Adjust the duration and easing function as needed */
  }