@font-face {
  font-family: 'Pretendard Black';
  font-weight: 900;
  font-display: swap;
  src: local('Pretendard Black'), url('../fonts/Pretendard-Black.woff2') format('woff');
}

@font-face {
  font-family: 'Pretendard Bold';
  font-weight: 700;
  font-display: swap;
  src: local('Pretendard Bold'), url('../fonts/Pretendard-Bold.woff2') format('woff');
}

@font-face {
  font-family: 'Pretendard ExtraBold';
  font-weight: 800;
  font-display: swap;
  src: local('Pretendard ExtraBold'), url('../fonts/Pretendard-ExtraBold.woff2') format('woff');
}

@font-face {
  font-family: 'Pretendard ExtraLight';
  font-weight: 200;
  font-display: swap;
  src: local('Pretendard ExtraLight'), url('../fonts/Pretendard-ExtraLight.woff2') format('woff');
}

@font-face {
  font-family: 'Pretendard Light';
  font-weight: 300;
  font-display: swap;
  src: local('Pretendard Light'), url('../fonts/Pretendard-Light.woff2') format('woff');
}

@font-face {
  font-family: 'Pretendard Medium';
  font-weight: 500;
  font-display: swap;
  src: local('Pretendard Medium'), url('../fonts/Pretendard-Medium.woff2') format('woff');
}

@font-face {
  font-family: 'Pretendard Regular';
  font-weight: 400;
  font-display: swap;
  src: local('Pretendard Regular'), url('../fonts/Pretendard-Regular.woff2') format('woff');
}

@font-face {
  font-family: 'Pretendard SemiBold';
  font-weight: 600;
  font-display: swap;
  src: local('Pretendard SemiBold'), url('../fonts/Pretendard-SemiBold.woff2') format('woff');
}

@font-face {
  font-family: 'Pretendard Thin';
  font-weight: 100;
  font-display: swap;
  src: local('Pretendard Thin'), url('../fonts/Pretendard-Thin.woff2') format('woff');
}